services:
  redis:
    image: redis:7-alpine
    container_name: url_shortener_redis

  web:
    build: .
    container_name: url_shortener_web
    command: dev
    volumes:
      - .:/app
      - static_volume:/app/static
      - media_volume:/app/media
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - CELERY_BROKER_URL=redis://redis:6379/0

  worker:
    build: .
    container_name: url_shortener_worker
    command: worker
    volumes:
      - .:/app
      - media_volume:/app/media
    env_file:
      - .env
    depends_on:
      - redis
      - web
    environment:
      - REDIS_HOST=redis
      - CELERY_BROKER_URL=redis://redis:6379/0

volumes:
  static_volume:
  media_volume:
